*, *::before, *::after {
    /*font-kerning: normal;*/
    /*font-variant-numeric: lining-nums proportional-nums;*/
    /*font-variant-ligatures: common-ligatures contextual;*/
    outline: none;
    box-sizing: border-box;
    margin: 0;
}

html {
    overflow-y:scroll;
    font-family: Arial, Helvetica, sans-serif;
}

.sidenav {
    height: 100%;
    width: 160px;
    float: left;
    background-color: rgb(212, 212, 212);
    /*padding-top: 20px;*/
    clear:both;
}

.sidenav a {
    padding: 2px 2px 2px 4px;
    text-decoration: none;
    font-size: 20px;
    color: #000;
    display: block;
}

.sidenav a:hover {
    color: #2836fd;
    background-color: rgb(230, 230, 230);
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    clear: both;
    width: 100%;
    text-align: center;
    height: 60px;
    position: fixed;
    bottom: 0;
    /*background-color: #1976D2;*/
    border-top: 1px solid silver;
    background-color: #e8e8e8;
    padding: 0 10px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #e8e8e8;
    /*background-color: #1976D2;*/
    padding: 10px 10px 10px 20px;
    height: 80px;

}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 32px;
    background-color: #e8e8e8;
    /*background-color: #1976D2;*/
    padding: 3px 32px;
    /*height: 30px;*/
    border-bottom: 1px solid silver;
}

.menu a, .menu a:visited {
    display: block;
    background-color: transparent;
    border-radius: 3px;
    color: black;
    text-decoration: none;
    padding: 6px 16px;
    vertical-align: center;
    text-align: center;
}

.menu a:hover {
    display: block;
    background-color: silver;

}

.header_caption {
    text-align: center;
    vertical-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 32px;
    /*font-weight: bold;*/
    color: #3f3f3f;

}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

head {
    clear: both;
}

.main {
    clear: both;
    min-height: 200px;
    padding-bottom: 200px;
}

body {
    clear: both;
    height: auto;
    background-color: #f8f8f8;
}

.right {
    font-size: 16px; /* Increased text to enable scrolling */
    /*float: right;*/
    /*width: 100%;*/
    /*background-color: rgb(238, 242, 255);*/
    padding: 32px 16px 16px 16px;
}

.sidenav, .right {
    height: auto;
    height: auto;
    overflow: scroll;		
    overflow: auto;
}





table.tableType1 {

}
table.tableType1 td{
    padding: 3px 6px;

}
table.tableType1 th{
    padding: 3px 6px;

}

