pygal
python-pidfile
git+https://github.com/mupif/mupif/@master#egg=mupif
pymongo
flask_pymongo
flask_cors
isodate
flask
psutil
fastapi
uvicorn[standard]
python-multipart
networkx
astropy
rich
pytest-rich
pytest
requests
parsy
attrdict3
asteval
pympler
rotate-backups
