pygal
python-pidfile
mupif
pymongo
flask_pymongo
flask_cors
flask_login
isodate
# see https://stackoverflow.com/a/76116905
# flask 2.3 does not provide flask.json.JSONEncoder anymore
# (can be replaced by vanilla json encoder, but our code is not updated (yet?)
flask==2.2.3
# https://stackoverflow.com/a/77217971
# current version 3.0 does not work with (older) Flask
Werkzeug==2.2.2
psutil
fastapi
uvicorn[standard]
# FIXME: the fastapi-cache2 upstream is broken, use this fork
fastapi-cache2-fork
python-multipart
networkx
astropy
rich
pytest-rich
pytest
pytest-xprocess
requests
parsy
attrdict3
asteval
pympler
rotate-backups
# XXX: this must be synchronized with mupif's requirements.txt
pydantic>2.6
# for some reason not installed from mupif's deps??
numpydantic
typing_extensions
oauthlib
requests_oauthlib
sphinxcontrib-openapi
sphinx-rtd-theme
myst-nb
