<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="/static/style.css" />
    <head>
        {% block head %}
        <title>{% block title %}{% endblock %}</title>
        {% endblock %}
    </head>
    <body>
        <div>
        <img src="/static/images/project-logo.png" height="60px" align="left" hspace="20">
        <img src="/static/images/ctu-logo.png" height="60px" align="right" hspace="20">
        <img src="/static/images/mupif-logo.png" height="60px" align="right" hspace="20">
        <p>MuPIFDB web interface</p>
        </div>
        <div class="main">
            {% include 'navigation.html' %}
            <div class="right">
                {% block content %}{% endblock %}
            </div>
        </div>
        <div class="footer">
            {% block footer %}
            &copy; Copyright 2020 by CTU.
            {% endblock %}
        </div>
    </body>
    {% block scripts %}{% endblock %}
</html>
