{% extends "layout.html" %}
{% block head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js " integrity="sha256-XF29CBwU1MWLaGEnsELogU6Y6rcc5nCkhhx89nFMIDQ=" crossorigin=" anonymous "></script>
  
    <img src="/static/images/project-logo.png" height="60px" align="left" hspace="20">
    <img src="/static/images/ctu-logo.png" height="60px" align="right" hspace="20">
    <img src="/static/images/mupif-logo.png" height="60px" align="right" hspace="20">

    <p>MuPIFDB web interface</p>
    <title>{% block title %}{{ title }}{% endblock %}</title>
{% endblock %}

    {% block content %}
    <div>
      {{ body }}
    </div>
    <div class="chart-container">
      <canvas id="updating-chart" width="500" height="200" ></canvas>

      <div> Update interval:
	<select name="updateInterval">
	  <option value="1000">1[s]</option>
	  <option value="10000" selected="selected">10[s]</option>
	  <option value="600000" >1[min]</option>
	  <option value="3000000">5[min]</option>
	</select>
      </div>
    </div>
    <div style="clear: both">
      <a href={{[server,"schedulerStats/hourly.svg"]|join}}>48 hour statistics</a></br>
      <a href={{[server, "schedulerStats/weekly.svg"]|join}}>52 week statistics</a>
    </div>  


{% endblock %}

{% block scripts %}    
<script>
    let data = new Array (30);
    let data2= new Array (30);
    let timeout = 10000; // 10 [s] by default
    var ctx = document.getElementById("updating-chart").getContext("2d");
    var myChart = new Chart(ctx, {
        // type: "bar ",
        type: "line",
        data: {
            labels: Array(30).fill(" "),
            datasets: [{
                label: "MuPIFDB Scheduler Load",
                data: data,
                backgroundColor: [
                    "rgba(255, 99, 132, 0.2)",
                ],
                borderColor: [
                    "#3e95cd",
                ],
                borderWidth: 1,
                fill: false,
                yAxisID: 'A',
            }, 
            {
                label: "MuPIFDB Scheduled Tasks",
                data: data2,
                backgroundColor: [
                    "rgba(255, 99, 132, 0.2)",
                ],
                borderColor: [
                    "rgba(255,99,132,1)",
                ],
                borderWidth: 1,
                fill: false, //"start",
                yAxisID: 'B',
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    id: 'A',
                    ticks: {
                        beginAtZero: true
                    }
                }, 
                {
                    id: 'B',
                    ticks: {
                        beginAtZero: true
                    }
                }]
            },
            elements: {
                line: {
                    tension: 0,
                    // no smooth
                }
            },
            responsive:false
        }
    });
    // update
    function fetchData() {
        $.ajax({
            url: 'http://127.0.0.1:5000/main?action=get_status',
            type: 'get',
            success: function(newData){
                //alert(JSON.stringify(newData));
                var json = $.parseJSON(JSON.stringify(newData));
                oldData = data.slice(1);
                oldData.push(json.result[0].schedulerStat.load)
                data = [].concat(oldData);
                myChart.data.datasets[0].data = data;
                oldData = data2.slice(1);
                oldData.push(json.result[0].schedulerStat.scheduledTasks)
                data2 = [].concat(oldData);
                myChart.data.datasets[1].data = data2;
                myChart.update(0);
            },
            complete: function(data){
                setTimeout(fetchData, timeout);
            }
        });
    }
    $(document).ready(function(){
        setTimeout(fetchData,1000);
    });

    $( "select" ).change(function() {
        timeout = $(this).val();
        setTimeout(fetchData, timeout);
    });
</script>
{% endblock %}
