{% extends "layout.html" %}
{% block title %} {{ title }} {% endblock %}
{% block content %} 
<table>
    <tr><th>ID</th><th>Description</th><th></th><th></th></tr>
    {% for item in items %}
    <TR>
       <TD class="c1">{{item.ucid}}</TD>
       <TD class="c2">{{item.Description}}</TD>
       <TD class="c3"><a href={{ [ server, "usecases/", item.ucid, "/workflows"] | join }}>List of workflows</a> </TD>
       <TD class="c3"><a href={{ [ server, "workflow_add/", item.ucid] | join }}>Register new workflow</a> </TD>
    </TR>
    {% endfor %}
</table>
<br><a href={{ [ server, "usecase_add"] | join }}>Register new usecase</a>
{% endblock %}