{% extends "layout.html" %}
{% block title %} {{ title }} {% endblock %}
{% block content %} 
WorkflowID: {{wid}}<br>
Version: {{version}}<br>
UseCase: {{UseCase}}<br>
Description: {{Description}}<br>
<br>
Inputs:
<table>
    <tr><th>Name</th><th>Type</th><th>TypeID</th><th>Description</th><th>Units</th><th>ObjID</th><th>Compulsory</th></tr>
    {% for item in inputs %}
    <TR>
        <TD class="c1">{{item.Name}}</TD>
        <TD class="c2">{{item.Type}}</TD>
        <TD class="c3">{{item.TypeID|replace("mupif.PropertyID.","")|replace("mupif.FieldID.","")}}</TD>
        <TD class="c4">{{item.Description}}</TD>
        <TD class="c5">{{item.Units}}</TD>
        <TD class="c6">{{item.ObjID}}</TD>
        <TD class="c7">{{item.Compulsory}}</TD>
    </TR>
    {% endfor %}
</table>
<br>
Outputs:
<table>
    <tr><th>Name</th><th>Type</th><th>TypeID</th><th>Description</th><th>Units</th><th>ObjID</th><th>Compulsory</th></tr>
    {% for item in outputs %}
    <TR>
        <TD class="c1">{{item.Name}}</TD>
        <TD class="c2">{{item.Type}}</TD>
        <TD class="c3">{{item.TypeID|replace("mupif.PropertyID.","")|replace("mupif.FieldID.","")}}</TD>
        <TD class="c4">{{item.Description}}</TD>
        <TD class="c5">{{item.Units}}</TD>
        <TD class="c6">{{item.ObjID}}</TD>
        <TD class="c7">{{item.Compulsory}}</TD>
    </TR>
    {% endfor %}
    </table>
<br>
<a href="{{ [server,'workflowexecutions/init/', wid] | join }}">Initialize new execution record</a>
{% endblock %}
