{% extends "layout.html" %}
{% block title %} {{ title }} {% endblock %}
{% block content %} 
WorkflowID: {{id}}</br>
UseCase: {{UseCase}}</br>
Description: {{Description}}</br>
Inputs:
<table>
    <tr><th>Name</th><th>Type</th><th>TypeID</th><th>Units</th><th>ObjID</th><th>Compulsory</th></tr>
    {% for item in inputs %}
    <TR>
       <TD class="c1">{{item.Name}}</TD>
       <TD class="c2">{{item.Type}}</TD>
       <TD class="c3">{{item.TypeID}}</TD>
       <TD class="c4">{{item.Units}}</TD>
       <TD class="c5">{{item.ObjID}}</TD>
       <TD class="c6">{{item.Compulsory}}</TD>
    </TR>
    {% endfor %}
</table>
Outputs:
<table>
    <tr><th>Name</th><th>Type</th><th>TypeID</th><th>Units</th><th>ObjID</th><th>Compulsory</th></tr>
    {% for item in outputs %}
    <TR>
       <TD class="c1">{{item.Name}}</TD>
       <TD class="c2">{{item.Type}}</TD>
       <TD class="c3">{{item.TypeID}}</TD>
       <TD class="c4">{{item.Units}}</TD>
       <TD class="c5">{{item.ObjID}}</TD>
       <TD class="c6">{{item.Compulsory}}</TD>
    </TR>
    {% endfor %}
    </table>
<a href={{ [server, "workflowexecutions/init/", id] | join }}>Initialize new execution record</a>
{% endblock %}